<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br><br><br>
            <div class="well well-sm">
                <form class="form-horizontal" action="/editarPresupuesto/{{presupuesto.url}}" method="post">
                    <fieldset>
                        <legend class="text-center header">Editar Presupuesto</legend>   

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-12">
                              <input type="text" name="ingresoMensual" value='{{presupuesto.ingresoMensual}}' placeholder="Ingreso Mensual" class="form-control">                               
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-12">
                                <input name="fecha" type="date" value='{{presupuesto.fecha}}' placeholder="fecha" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-12">
                            {{!-- <input name="mes" type="text" placeholder="Ingrese el mes" class="form-control"> --}}
                            <label for="fecha" >Fecha</label>
                            <input type="month" min="2019-10" name="mes" id="fecha" value='{{presupuesto.mes}}' placeholder="Ingresa el mes" class="form-control"/>
                            
                          
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-12">
                                {{!-- Implementar un WYSIWYG --}}
                                <label>Descripción</label>
                                <input type="hidden" name="descripcion" id="x" value='{{presupuesto.descripcion}}'>
                                <trix-editor input="x" class="form-control"></trix-editor>
                            </div>
                        </div>
                

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <br>
                                <button type="submit" class="btn btn-primary btn-lg">Editar Presupuesto</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>