<div class="container">
  <br><br><br><br><br>

<div class="row">
  {{#each presupuestos}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
      
        <h4 class="card-title d-flex justify-content-between align-items-center">
          Usuario: {{user.nombre}}
        </h4>
        

        <h4 class="card-title d-flex justify-content-between align-items-center">
          El mes: {{ mes }} <br>Ingreso mensual{{ingresoMensual}}<a href="/editarPresupuesto/{{url}}"><i class="fas fa-edit"></i></a>
        </h4>
        <p>{{ descripcion }}</p>
        <!-- Parte de eliminar -->
        <form action="/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
        </form>
      </div>
    </div>
  </div>

  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hola {{user.nombre}}</h1>
      <p clsss="lead">Todavía no tienes presupuestos mensuales hechos!</p>
      <a href="/nuevoPresupuesto" class="btn btn-success btn-block">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>
</div>