<div class="container">
  <br><br><br><br><br>
<div class="row">
  {{#each gastos}}
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ nombre }} <a href="/editarGasto/{{url}}"><i class="fas fa-edit"></i></a>
        </h4>
        <p>Gasto esperado: {{ gastoEsperado }}</p>
        <p>Gasto real: {{ gastoReal }}</p>
        <p>Diferencia: {{ diferencia }}</p>
        <p>{{{ descripcion }}}</p>

        <!--Parte del formulario para eliminar -->
        <form action="/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hola {{user.nombre}}</h1>
      <p clsss="lead">No hay gastos por mostrar todavía.</p>
      <a href="/nuevoGasto" class="btn btn-success btn-block">Crea uno!</a>
    </div>
  </div>
  {{/each}}
</div>
</div>
